
      /* color:  red#c94815, black#212d31, grey#343a40, white#eee  */
      * {
        box-sizing: border-box;
      }

      body {
        padding: 1rem;
        color: #212d31;
        font-family: "Roboto", sans-serif;
      }

      .contain {
        background-color: #eee;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
      }

      div.form {
        background-color: #eee;
      }
      .contact-wrapper {
        margin: auto 0;
      }

      .submit-btn {
        float: left;
      }
      .reset-btn {
        float: right;
      }

      .form-headline:after {
        content: "";
        display: block;
        width: 10%;
        padding-top: 10px;
        border-bottom: 3px solid #c94815;
      }

      .highlight-text {
        color: #c94815;
      }

      .hightlight-contact-info {
        font-weight: 700;
        font-size: 22px;
        line-height: 1.5;
      }

      .highlight-text-grey {
        font-weight: 500;
      }

      .email-info {
        margin-top: 20px;
      }

      ::-webkit-input-placeholder {
        /* Chrome */
        font-family: "Roboto", sans-serif;
      }

      .required-input {
        color: black;
      }
      @media (min-width: 600px) {
        .contain {
          padding: 0;
        }
      }

      h3,
      ul {
        margin: 0;
      }

      h3 {
        margin-bottom: 1rem;
      }

      .form-input:focus,
      textarea:focus {
        outline: 1.5px solid #c94815;
      }

      .form-input,
      textarea {
        width: 100%;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
      }

      .wrapper > * {
        padding: 1em;
      }
      @media (min-width: 700px) {
        .wrapper {
          display: grid;
          grid-template-columns: 2fr 1fr;
        }
        .wrapper > * {
          padding: 2em 2em;
        }
      }

      ul {
        list-style: none;
        padding: 0;
      }

      .contacts {
        color: #212d31;
      }

      .form {
        background: #fff;
      }

      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      form label {
        display: block;
      }
      form p {
        margin: 0;
      }

      .full-width {
        grid-column: 1 / 3;
      }

      button,
      .submit-btn,
      .form-input,
      textarea {
        padding: 1em;
      }

      button,
      .submit-btn {
        background: transparent;
        border: 1px solid #c94815;
        color: #c94815;
        border-radius: 15px;
        padding: 5px 20px;
        text-transform: uppercase;
      }
      button:hover,
      .submit-btn:hover,
      button:focus,
      .submit-btn:focus {
        background: #c94815;
        outline: 0;
        color: #eee;
      }
      .error {
        color: #c94815;
      }
    