@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* $itemGrow: 1.2;
$duration: 250ms; */

html {
	scroll-behavior: smooth;
  }
*{
	margin:0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

#nav-bar
{
	position:sticky;
	top: 0;
	z-index:10;
	
	
	
}

/* Add a black background color to the top navigation bar */
.topnav 
{
  	overflow: hidden;
	
	
 	
}

/* Style the links inside the navigation bar */
.topnav a 
{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 26px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #c94815;
  
}

.navbarNav ul .li
{
	color: white;
	background-color: black;
}

.topnav a 
{
  	background-color: white;
	font-size: 20px;
  
}
.navbar-brand img
{
	height:100px;
	padding-left:0;
	
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
	font-size: 20px;
	
	background-color: #c94815;
	
  	
	
}


#nav-bar ul li a:hover
{
	color:#d3c8af!important;
}

.navbar
{
	background-color: #c94815;
	margin-bottom: 0px;
	
}

.navbar-toggler
{
	border: none;
	
}

.navbar-link
{
	color:#555!important;
	font-weight:600;
	font-size:16px;
}


#Slider
{
	
	width: auto;
	height: 240px;;
}



/*-----product images------*/
.featured-categories
{
	margin: 50px 0;
	object-fit: cover;
	
}

.featured-categories img
{
	width: 100%;
	padding: 20px 0;
	transition: 1s;
	cursor: pointer;
	height: 300px;
	
}

.featured-categories img:hover
{
	transform: scale(1.1)
}

/*---on sale---*/
.title-box
{
	background: #c94815;
	color: #fff;
	width: 180px;
	padding: 4px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
	margin-top: 70px;
}



.title-box h2
{
	font-size: 24px;	
}
.title-box::after
{
	content: '';
	border-top: 40px #c94815;
	border-right: 50px solid transparent;
	position: absolute;
	display: flex;
	margin-top: -4px;
	margin-left: 170px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 50%;
}

#site {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
}



/*-----product-top css-------*/

.product-top img
{
	width: 100%;
	
}
.overlay-right
{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width: 70px;
	margin-bottom: 5%;
	margin-top: 5%;
	
}
.overlay-right .fa
{
	cursor: pointer;
	background-color: #fff;
	color: #000;
	height: 35px;
	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin-bottom: 5%;
	margin-top: 10px;;
	 

}
.overlay-right .btn-secondary
{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
.product-top:hover .overlay-right
{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}

.product-bottom h3
{
	font-size: 28px;
	padding-bottom: 10px; 
}

#masthead {
	margin-top: 3em;
	padding: 2em 0 0.5em 0;
	border-bottom: 1px solid #ddd;
}

#masthead h1 {
	margin: 0;
	font-size: 3.5em;
	overflow: hidden;
	padding-left: 85px;
	min-height: 82px;
	line-height: 2.3;
	
	
	
}

.tagline {
	float: right;
	color: #15c93c;
	font-size: 14px;
	padding-top: 3.5em;
}

#products ul {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#products li {
	float: left;
	width: 31%;
	margin: 0 1%;
	display: block;
}

.product-image {
	width: 100%;
	padding: 20px 0;
	transition: 1s;
	cursor: pointer;
	height: 300px;
	overflow: hidden;
	
}

.product-description {
	
	
	color: black;
	border-radius: 5px;
}

